body {
    margin: 0;
}

#background-image {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    object-fit: scale-down;
    object-position: 0 -45vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: lightseagreen;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#canvas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 20px;
    align-items: center;
    margin: 10px;
    border: 2px solid transparent;
    opacity: 0.9;
    border-radius: 35px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 125ms;
}

#fullscreencard {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

}

#container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 550px;
    align-items: center;
    position: relative;
}

#description {
    white-space: pre-line;
    max-width: 75%;
}

.pokemon-image {
    width: 150px;
    height: 150px;
}

#fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.icon {
    position: absolute;
    cursor: pointer;
    transition: all ease-in-out 125ms;
}

.icon:hover {
    transform: scale(1.2);
    transition: all ease-in-out 125ms;
}

#close {
    right: 15px;
    top: 15px;
}

#previous {
    left: 25px;
    top: 85px;
}

#next {
    right: 25px;
    top: 85px;
}

.card:hover {
    transform: scale(1.075);
    transition: all ease-in-out 125ms;
}

.red {
    background-color: lightsalmon;
}

.green {
    /* background-color: lightgreen; */
    background-color: rgba(142, 225, 136, 0.9);
}

.blue {
    /* background-color: lightblue; */
    background-color: rgba(173, 216, 230, 0.9);
}

.white {
    /* background-color: beige; */
    background-color: rgba(245, 245, 220, 0.9);
}

.brown {
    /* background-color: lightgoldenrodyellow; */
    background-color: rgba(250, 250, 210, 0.9);
}

.yellow {
    /* background-color: lightyellow; */
    background-color: rgba(255, 255, 224, 0.9);
}

.purple {
    /* background-color: lightpink; */
    background-color: rgba(255, 182, 193, 0.9);
}

.pink {
    /* background-color: pink; */
    background-color: rgba(255, 192, 203, 0.9);
}

.gray {
    /* background-color: lightgray; */
    background-color: rgba(211, 211, 211, 0.9);
}

.black {
    background-color: rgba(0, 0, 0, 0.9);
}

.pokeball-loader {
    height: 100px;
    animation: rotate 2s ease-in-out 0s infinite normal forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* loading.io*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    margin: 80px;
}