body {
    margin: 0;
}

#background-image {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    object-fit: scale-down;
    object-position: 0 -45vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: lightseagreen;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#canvas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    align-items: center;
    margin: 5px;
    border: 2px solid transparent;
    opacity: 0.8;
}

.pokemon-image {
    width: 150px;
    height: 150px;
}

.card:hover {
    border: 2px solid black;
    transform: scale(1.075);
}

.red {
    background-color: lightsalmon;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}

.white {
    background-color: beige;
}

.brown {
    background-color: lightgoldenrodyellow;
}

.yellow {
    background-color: lightyellow;
}

.purple {
    background-color: lightpink;
}

.pink {
    background-color: pink;
}

.gray {
    background-color: lightgray;
}

.black {
    background-color: rgba(0, 0, 0, 0.8)
}

.pokeball-loader {
    height: 100px;
    animation: rotate 2s ease-in-out 0s infinite normal forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* loading.io*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    margin: 80px;
}